:root {
    /* "Mint": new text color for NKNMT neo */
    --text: #00c49a;
    /* "Oxford Blue": new bg color for NKNMT neo */
    --background: #030027;
    /* "Space Cadet": new primary color for NKMNT neo */
    --primary: #151E3F;
    /* "Cardinal": new secondary color for NKNMT neo */
    --secondary: #c33248;
    /* "Naples Yellow": new accent color for NKNMT neo */
    --accent: #f8e16c;
    --border: rgba(254, 254, 254, 0.15);
}