@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik&display=swap');
@import url(inkmint.css);

:root {
    --bg: var(--background);
    --highlight: var(--accent);
    --yt: rgb(229, 57, 53);
    --glass: rgba(125, 125, 125, 0.25);
}
 
* {
    box-sizing: border-box;
}
 
body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
 
h1,h2,h3,a,p,span {
    font-family: 'Monaspace Krypton', "Rubik", sans-serif;
    font-weight: 400;
    color: var(--text)
}
 
a {
    text-decoration: none;
}
 
a:hover {
    color: var(--highlight);
    transition: color 0.2s ease-in-out;
}
 
/*Navbar Specific Styling*/
nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    background-image: linear-gradient(var(--glass), rgb(5, 5, 5));
  }
  nav > .menuitem {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border);
    align-items: center;
    justify-content: center;
  }
  
  #logo {
    justify-content: flex-start;
  }
  
  #logo > a > i {
    font-size: 2.5rem;
  }
  
  #logo, #links {
    flex-basis: calc(100% / 3);
  }
  
  #social, #contact {
    flex-grow: 1;
  }
  
  #links {
    gap: 6rem;
  }
  
  #social {
    gap: 3rem;
  }
  
  .fa-twitter:hover {
    color: #1da1f2;
    transition: color 0.2s ease-in-out;
  }

/*Main specific Styling*/
main {
    flex-grow: 1;
    position: relative;
}
 
main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 0.4s ease;
}
 
main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}
 
main > article[data-status="active"] {
    transform: translateX(0%);
}
 
main > article[data-status="before"] {
    transform: translateX(-100%);
}
 
main > article[data-status="after"] {
    transform: translateX(100%);
}
 
main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}
 
main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}
 
main > article > .a-section {
   height: 100%;
}
 
main > article > .a-desc, main > article > .a-nav {
    border-left: 1px solid var(--border);
}
 
main > article > .a-title, main > article > .a-nav {
    border-top: 1px solid var(--border);
}

/*Article Img Styles*/
 main > article:first-child > .a-img {
    background-image: linear-gradient(black, red);
 }
 
 main > article:nth-child(2) > .a-img {
    background-image: linear-gradient(black, green);
 }
 
 main > article:nth-child(3) > .a-img {
    background-image: linear-gradient(black, blue);
 }
 
 main > article:nth-last-child(3) > .a-img {
    background-image: conic-gradient(red, black);
 }
 
 main > article:nth-last-child(2) > .a-img {
   background-image: conic-gradient(green, black);
 }
 
 main > article:last-child > .a-img{
   background-image: conic-gradient(blue, black);
 }
 
 main > article > .a-img {
   background-position: center;
   background-size: cover;
 }
 
 /*Article Desc Style*/
 main > article > .a-desc {
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
    background-image: linear-gradient(rgb(5,5,5),rgba(255,255,255,0));
 }
 
 main > article > .a-desc > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
 }
 
 main > article > .a-desc > p > a:hover {
    text-decoration: underline;
 }
 
 /*Article Title Styles*/
 
 main > article > .a-title {
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
 }
 
 main > article > .a-title * {
    color: white;
 }
 
 main > article > .a-title > h2 {
    flex-basis: 50%;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
 }
 
 main > article > .a-title > i {
    color: rgba(255, 255, 255, 0.75);
    font-size: 4rem;
 }
 
 /*Article Nav Styles*/
 main > article > .a-nav {
    display: flex;
 }
 
 main > article > .a-nav > .a-nav-button {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
    cursor: pointer;
 }
 
 main > article > .a-nav > .a-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.02);
 }
 
 main > article > .a-nav > .a-nav-button:last-child {
    border-left: 1px solid var(--border);
 }
 
 /*YT Link / Source link Styles*/
 main > article > .a-desc > p > .source-link {
    color: var(--highlight);
    display: inline;
 }
 main > article .yt-link:hover {
    color: var(--yt);
    display: inline;
 }
 