@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik&display=swap');
:root {
    --bg: rgb(12, 25, 7);
    --border: rgba(254, 254, 254, 0.15);
    --highlight: rgb(128, 88, 195);
    --yt: rgb(229, 57, 53);
    --glass: rgba(125, 125, 125, 0.25);
  }
  
  body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, a, p, span, table{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: var(--highlight);
    transition: color 0.2s ease-in-out;
  }
  
  /*Navbar Specific Styling*/
  nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
    background-image: linear-gradient(var(--glass), rgb(5, 5, 5));
  }
  nav > .menuitem {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border);
    align-items: center;
    justify-content: center;
  }
  
  #logo {
    justify-content: flex-start;
  }
  
  #logo > a > i {
    font-size: 2.5rem;
  }
  
  #logo, #links {
    flex-basis: calc(100% / 3);
  }
  
  #social, #contact {
    flex-grow: 1;
  }
  
  #links {
    gap: 6rem;
  }
  
  #social {
    gap: 3rem;
  }
  
  .fa-twitter:hover {
    color: #1da1f2;
    transition: color 0.2s ease-in-out;
  }

  .fa-spotify:hover{
    color: rgb(30,215,96);
  }

 .soc, .pc11, .war, .itv, .pc12, .calc, .poli, .phys{
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 5rem;
  cursor: pointer;
}

.split{
    width: 100%;
      height: 10rem;
      background-color: grey;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .section{
      height: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      padding-right: 1rem;
  }
  
  .section:hover{
      transition: background-color .2s ease;
  }